:root {
  --font: 'Oxygen', sans-serif;
  --primary: #e6afe3;
  --gradient: linear-gradient(135deg, #5cdcf3 0%, #e6afe3 100%);
  --black: black;
}
.hamburger {
  display: none; /* Ocultar el botón en dispositivos grandes */
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.show {
  display: block !important;
}

#navbar {
  background-color: #5cdcf3;
  height: 90px;
  border-bottom: 2px #ebf2f4 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 160px;
  margin-left: 20px;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 10px;
}

li.nav-links:hover,
li.nav-links li a.active,
a.btn:hover {
  background-color: #e6afe3;
  border-radius: 20px;
  transition: background-color 0.3s;
}

button {
  padding: 9px 25px;
  background-color: #af599e;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

body {
  font-family: var(--font);
  background: var(--gradient);
  margin: 0;
}

.u-wrapper {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

.h1 {
  font-size: 59px;
  line-height: 95px;
  font-weight: 700;
  margin: 1rem 0;
}

.h1 span {
  display: block;
}

.h3 {
  font-size: 48px;
  line-height: 70px;
}

main {
  max-width: 900px;
  margin: auto;
  display: block;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.fotoperfil {
  border-radius: 50%;
  width: 140px;
  max-width: 100%;
  object-fit: contain;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 25vh;
  text-align: center;
}

#Contacto {
  background-color: rgba(175, 89, 158, 0.3);
  color: #0f0f0f;
  border-radius: 1%;
}

.footer {
  text-align: center;
}

#social-item {
  background: var(--primary);
  display: inline-block;
  inline-size: 44px;
  block-size: 44px;
  text-align: center;
  line-height: 44px;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  border: 2px solid var(--black);
}

#social-item+.social-item {
  margin-left: 1em;
}

#social-item img {
  vertical-align: middle;
}

/* queris móviles */

@media only screen and (max-width: 320px) {
  .logo {
    width: 120px;
    margin-left: 10px;
  }

  .nav-links {
    display: none;
  }

  #navbar {
    justify-content: space-between;
  }

  #navbar.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5cdcf3;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    z-index: 999;
  }

  #navbar.show .nav-links {
    display: block;
  }

  .nav-links li {
    margin: 10px 0;
  }
}


/* media para desktop y portátiles */

@media only screen and (min-width: 1024px) {
  .logo {
    width: 100px;
  }

  .nav-links {
    justify-content: flex-start;
  }

  .nav-links li {
    margin-left: 30px;
  }

  .h1 {
    font-size: 42px;
    line-height: 120px;
  }

  .h3 {
    font-size: 32px;
    line-height: 90px;
  }

  main {
    max-width: 800px;
  }
}

@media only screen and (min-width: 992px) {
  .u-wrapper {
    padding: 0 2em;
  }
}
